:root{
  margin: 0 2% 0 2%;
}

#home{
  background-color: aliceblue;
  display: flex;
}

#home > section {
  height: auto;
  width: auto;
  flex: 1;
}

.section1Home{
  background-color: aquamarine;
}

.section2Home{
  background-color: blanchedalmond;
}

nav{
  display: flex;
  flex-direction: column;
  width: 18%;
  background-color: blanchedalmond;
}

nav > * {

  background-color: aqua;
  margin: 2px;
  text-decoration: none;
  text-align: center;
  padding: 5%;
  border-radius: 8px;
}